body {
  margin: 0;
  overflow: hidden;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
}

#information {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
    color: white;
}

#menu {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 30px;
  text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000;
  color: white;
}

.title {
  text-align: center;
  font-size: 40px;
}

.title b {
  font-size: 80px;
}



.item {
  text-align: left;
}

#health {
  position: absolute;
  top: 10px;
  left: 10px;
}

#score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.inquietant {
  font-weight: bold;
  font-size: 20;
  text-transform: uppercase;
  animation: inquietant 2s infinite alternate;
}

@keyframes inquietant {
  from {
    transform: scale(1);
    color: white;
    text-shadow: none;
  }
  to {
    transform: scale(1.1);
    color: red;
    text-shadow: 0 0 10px red;
  }
}